body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: $heading-green;
  font-size: 2rem;
}
h3 {
  color: $secondary-gray;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
ul {
  list-style: square;
  padding-left: $gutter;
  padding-bottom: $gutter;
}
li {
  color: $lightergray;
  font-size: 1.6rem;
}
.underline {
  color: $lightergray;
  text-decoration: underline;
}
.underline span{
  color: $linkcolor;
}

.fa {
  font-size: 2rem;
  color: $lightergray;
  letter-spacing: 0.5rem;
  vertical-align: middle;
}
